article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,figure,fieldset,legend,button,img,input,textarea,th,td{margin:0;padding:0;border:0;}
a{color: #666;text-decoration: none;}
a:hover{ color: #333; }
body{font: 14px/26px "Microsoft YaHei";color: #484848;transition: all .3s ease;background-color: #f1f1f1;}
::selection{background: #222;color: #fff;}
::-webkit-scrollbar{width: 4px;height: 4px;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-thumb{ background: #666; }
::-webkit-scrollbar-corner{display: none;}
li{list-style: none;}
.clearfix:after{ content:" "; display:block; height:0; clear:both; visibility: hidden;}
.clearfix{*zoom:1;}/*IE/7/6*/
.iconfont {font-size: 1.29rem;-webkit-text-stroke-width: 0.1px;}
.container{padding: 0 1.5rem;max-width: 800px;margin: 50px auto;letter-spacing: 1px;overflow-y: auto;overflow-x: hidden;line-height: 1.5;}
.header{margin-bottom: 100px;}
.header h2{font-size: 1.5rem;margin-bottom: 6px;}
.header time{font-family: 'Georgia';color: #999;vertical-align: top;margin-left: 10px;}
.content{margin-top: 2rem;overflow-x: hidden;}
.content img{display: block;margin: 1.42rem auto;max-width: 100%;background-color: #eee;}
.content a{border-bottom: 1px dashed #666;word-wrap: break-word;color: #3c85e6;}
.content a:hover{background-color: #cce2ff; color: rgba(0,0,0,.87);}
.content blockquote{border-left: 4px solid #aaa;color: #666;padding: 10px 20px;background-color: #eee;}
.table{margin: 20px 0;width: 100%;font-size: 1rem;border-collapse:collapse;}
.table td{padding: 10px;word-wrap: break-word;}
.table tr:not(:last-child){border-bottom: 1px solid #ccc;}
.table tr:first-child{border-bottom: 2px solid #bbb;}
.table tr:hover{background-color: #eee;}
