html, body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.inner {
  position: relative;
  margin: auto;
  padding: 0 10px;
  max-width: 720px;
}

.header {
  position: relative;
  z-index: 50;
  padding: 10% 0 10px;
  box-sizing: border-box;
  text-align: right;
  transition: all .3s ease;
  overflow: hidden;
}

.header.roof {
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-top: -40px;
}

.header.roof .ian {
  opacity: 1;
}

.ian {
  font-family: uppercut-angle, sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity: 0;
}

.me {
  font-family: source-han-sans-simplified-c, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 12px;
  font-weight: 700;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navs {
  display: flex;
  user-select: none;
  color: #bbb;
  font-family: mantinia, serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.navs .nav {
  display: block;
  margin: 12px;
  cursor: pointer;
}

.container {
  position: relative;
  flex: 1;
  padding: 20px 0;
  overflow: auto;
  transition: all .3s ease;
}

.content {
  display: none;
  margin: auto;
  max-width: 720px;
  transition: all .3s ease;
  opacity: 0;
  transform: translate(20px, 0);
}

.content.on {
  opacity: 1;
  transform: translate(0, 0);
}

.search {
  align-items: center;
}

.input {
  background: none;
  outline: none;
}
