::selection{ background-color: #ffd57b !important; color: #212121 !important; }
::-webkit-scrollbar{ width: 5px; height: 5px; }
::-webkit-scrollbar-button,::-webkit-scrollbar-corner{ display: none; }
::-webkit-scrollbar-track{ background-color: inherit; }
::-webkit-scrollbar-thumb{ background-color: #808080; border: 1px solid transparent; border-radius: 5px; }
h1, h2, h3, p {
    margin: 0;
}
body {
    margin: 40px auto;
    padding: 0 12px;
    box-sizing: border-box;
    width: 880px;
    max-width: 100%;
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, Consolas, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #212121;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    transition: all .24s;
    background: rgba(99,104,255,.1);
}
a:hover {
    color: #000;
    background: rgba(99,104,255,.15);
}
img {
    display: block;
    max-width: 100%;
    border-radius: 4px;
}
h1 {
    line-height: 1;
}
.iconfont {
    font-size: 1.2em;
}
.icon-mail {
    display: inline-block;
    transform: scale(.8);
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    width: 172px;
}
.bio {
    margin-left: 24px;
    text-align: right;
}
.bio > p {
    margin: 8px 0;
}
.from {
    margin: 12px 0;
}
.skills {
    margin: 40px auto;
}
.title {
    margin: 32px 0 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.company {
    margin-right: 20px;
    font-size: 1rem;
}
.website {
    margin: 40px 0 0;
}