@mixin sans {
	font-family: source-han-sans-simplified-c, sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin cjk {
	font-family: source-han-sans-cjk-sc, sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin angle {
	font-family: uppercut-angle, sans-serif;
	font-weight: 700;
	font-style: normal;
}

@mixin mantinia {
	font-family: mantinia, serif;
	font-weight: 400;
	font-style: normal;
}

@mixin gitan {
	font-family: gitan-latin, sans-serif;
	font-weight: 400;
	font-style: normal;
}