article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,figure,fieldset,legend,button,img,input,textarea,th,td{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6,p,article,section,body{line-height: 1.425;}
a{ color: inherit; text-decoration: none; cursor: pointer; transition: all .24s; }
li{ list-style: none; }
html, body{
	font: 14px gitan-latin, Helvetica, source-han-sans-cjk-sc, "Microsoft Yahei", sans-serif;
	line-height: 1.425; letter-spacing: .04rem;
	color: #212121;
	overflow: hidden;
	scroll-behavior: smooth;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}
input, textarea{ font: inherit; }
img{
	display: block;
	margin: auto;
	max-width: 100%; max-height: 100%;
}
::selection{ background-color: #cce2ff; color: rgba(0,0,0,.87); }
::-webkit-scrollbar{ width: 6px; height: 6px; }
::-webkit-scrollbar-button{ display: none; }
::-webkit-scrollbar-track{ background-color: transparent; }
::-webkit-scrollbar-thumb{ background: #aaa; border-radius: 6px; }
::-webkit-scrollbar-corner{ display: none; }
.clearfix:after{ content: "\20"; display: block; height: 0; clear: both; visibility: hidden; }
.iconfont{ font-size: 1em; font-weight: 700; }

.room{
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	display: none;
	overflow-x: hidden;
	transition: all .24s;
	&.on{ display: block; }
}
.home{
	opacity: 0;
	transform: translate3d(20px, 0, 0);
	&.active{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.loading{
	position: absolute; z-index: 100;
	left: 0; top: 0; right: 0; bottom: 0;
	padding: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	transition: opacity .24s;
	&:before,
	&:after{
		content: '\20';
		margin: auto -.2em;
		height: 1.4em; width: 1.4em;
		border-radius: 50%;
		transform: scale(0);
	}
	&:before{
		margin-left: auto;
		animation: loading 1s linear infinite;
		background-color: #aaa;
	}
	&:after{
		margin-right: auto;
		animation: loading 1s linear .15s infinite;
		background-color: #212121;
	}
}
@keyframes loading { 50%{ transform: scale(1); } }

.gallery{
	height: 100%;
	user-select: none;
	> li {
		position: absolute;
		display: none;
		transform: translate(-50%, -50%);
		transition: all .24s;
		max-height: 100%;
		&.display{ display: flex; }
		&.zoom{
			left: 50% !important; top: 50% !important;
			width: 100%; height: 100%;
		}
	}
}
.w50{ width: 50%; left: 60%; top: 40%; }
.w43{ width: 43%; left: 40%; top: 60%; }
.h63{ height: 63%; left: 50%; top: 50%; }
.h50{ height: 80%; left: 42%; top: 60%; }

@media (max-width: 600px) {
	.w50{ width: 70%; }
	.w43{ width: 62%; }
	.h63{ width: 60%; }
}

.article,
.photograph{
	opacity: 0;
	transform: translate3d(-20px, 0, 0);
	&.active{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.photograph{
	overflow: hidden;
}
.blog{
	opacity: 0;
	transform: translate3d(0, 20px, 0);
	&.active{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.content{
	position: relative;
	height: 100%;
	width: 720px;
	max-width: 100%;
	margin: 0 auto;
	> .header {
		position: absolute; z-index: 101;
		right: 4px; top: 12px;
	}
	.btn{
		margin-left: 12px;
		padding: 4px 6px;
		font-size: 1.5em;
	}
}
.iframe{
	display: block;
	box-sizing: border-box;
	height: 100%; width: 100%;
	margin: 0 auto;
	border: none;
}
.bio,
.menu{
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	width: 812px;
	min-height: 100%; max-width: 100%;
}
.menu{
	padding: 20vh 16px 40px;
	> .header,
	> .footer {
		position: sticky; z-index: 1;
		display: flex;
		align-items: baseline;
		padding: 8px 0;
		background-color: #fff;
	}
	> .header {
		top: 0;
		font-weight: 700;
	}
	> .footer {
		bottom: 0;
	}
}
.list{
	margin: 20px 0 32px;
	> .year {
		text-align: right;
		font-style: italic;
	}
	> .li {
		margin: 8px 0;
		display: flex;
		align-items: baseline;
		&:before{
			content: attr(data-date);
			order: 2;
			font-style: italic;
			font-size: .9em;
		}
		&:after{
			flex: 1;
			content: '\20';
			margin: 0 .8rem;
			border-bottom: 1px dotted #666;
			transition: all .24s;
		}
		&:hover{
			color: #5f9ea0;
			&:after{
				border-color: #5f9ea0;
			}
		}
	}
}

.bio{
	padding: 40px 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	> p {
		margin: 1em 0 0 auto;
		max-width: 400px;
	}
}
.link{
	position: relative;
	&:before{
		content: '\20';
		position: absolute; z-index: -1;
		left: 0; bottom: 0; right: 0;
		height: 6px;
		border-radius: 3px;
		background-color: #cce2ff;
		transition: inherit;
	}
	&:hover:before{
		height: 81%;
	}
}
.contact{
	> .link {
		margin-left: .4rem;
	}
}

.paper{
	padding: 0 12px;
}