article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,figure,fieldset,legend,button,img,input,textarea,th,td{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6,p,article,section,body{line-height: 1.425;}
a{ color: inherit; text-decoration: none; cursor: pointer; transition: all .24s; }
li{ list-style: none; }
html, body{
	font: calc(10px + .3vw) gitan-latin, Helvetica, source-han-sans-cjk-sc, "Microsoft Yahei", sans-serif;
	line-height: 1.425; letter-spacing: .04rem;
	color: #444;
	overflow: hidden;
	scroll-behavior: smooth;
}
input, textarea{ font: inherit; }
::selection{ background-color: #cce2ff; color: rgba(0,0,0,.87); }
::-webkit-scrollbar{ width: 6px; height: 6px; }
::-webkit-scrollbar-button{ display: none; }
::-webkit-scrollbar-track{ background-color: transparent; }
::-webkit-scrollbar-thumb{ background: #aaa; border-radius: 6px; }
::-webkit-scrollbar-corner{ display: none; }
.clearfix:after{ content: "\20"; display: block; height: 0; clear: both; visibility: hidden; }
.iconfont{ font-size: 1em; }

.room{
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	display: none;
	overflow-x: hidden;
	transition: all .24s;
	&.on{ display: block; }
}
.home{
	opacity: 0;
	transform: translate3d(20px, 0, 0);
	&.active{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.photograph{
	background-color: #bbe9f0;
	opacity: 0;
	transform: scale(1.05);
	&.active{
		opacity: 1;
		transform: scale(1);
	}
}

.bio{
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 40px 16px;
	width: 812px;
	min-height: 100%; max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	> p {
		margin: 1em 0 0 auto;
		max-width: 400px;
	}
}
.link,
.blog a{
	position: relative;
	&:before{
		content: '\20';
		position: absolute; z-index: -1;
		left: 0; bottom: 0; right: 0;
		height: 6px;
		border-radius: 3px;
		background-color: #cce2ff;
		transition: inherit;
	}
	&:hover:before{
		height: 81%;
	}
}